@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@import "./override-variables.scss";

@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../node_modules/bulma/sass/utilities/functions.sass";
@import "../../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../../node_modules/bulma/sass/utilities/mixins.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/grid/columns.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";

@import "./override-generics.scss";

html,
body {
  &.has-navbar-fixed-top {
    padding-top: $navbar-height;
  }
}

::-webkit-scrollbar {
  width: 0.625rem;

  background-color: $background;
}

::-webkit-scrollbar-track {
  background-color: $dark;
  border-radius: 15px;
  box-shadow: inset 0px 1px 3px 0px $shadow;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: $primary;

  &:hover {
    background-color: $brand-hover;
  }

  &:active {
    background-color: $brand-lighter;
  }
}
