@import "../../styles/override-variables.scss";

@import "../../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../../node_modules/bulma/sass/utilities/functions.sass";
@import "../../../node_modules/bulma/sass/utilities/derived-variables.scss";
@import "../../../node_modules/bulma/sass/utilities/mixins.sass";
@import "../../../node_modules/bulma/sass/base/generic.sass";
@import "../../../node_modules/bulma/sass/elements/content.sass";
@import "../../../node_modules/bulma/sass/helpers/_all.sass";
@import "../../../node_modules/bulma/sass/layout/footer.sass";

@import "../../styles/override-generics.scss";

.footer {
  p {
    font-size: large;
    a {
      color: $brand-hover;

      &:hover {
        color: $brand-lighter;
      }
    }
  }
}
