@import "../../styles/override-variables.scss";

@import "../../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../../node_modules/bulma/sass/utilities/functions.sass";
@import "../../../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../../../node_modules/bulma/sass/utilities/controls.sass";
@import "../../../node_modules/bulma/sass/utilities/mixins.sass";
@import "../../../node_modules/bulma/sass/base/minireset.sass";
@import "../../../node_modules/bulma/sass/elements/image.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/components/card.sass";
@import "../../../node_modules/bulma/sass/components/media.sass";

@import "../../styles/override-generics.scss";
@import "../../styles/override-media.scss";

.card {
  transition: linear 0.2s;
  &:hover {
    box-shadow: 0 0.5em 1.2em 0.313em $shadow-stronger, 0 0px 0 1px $shadow;
  }
}

.image img {
  object-fit: cover;
}
